.big-data-box-container{
    height: 100%;
    width: 100%;
    padding: 0;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
}
.reset-button-container{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}
.reset-button{
    width: 12vw;
    aspect-ratio: 6.5/1;
    background-color: #BD7167;
    color:white;
    border: none;
    border-radius: 0.5vw;
}
.big-data-content{
    flex: 17;
    width: 100%;
    background-color: #e2e1e1;
    border-radius: 1vh;
    margin-top: 2vh;
    padding: 4vh;
    display: flex;
  box-sizing: border-box;


    flex-direction: column;
        gap: 2vh;

}
.people-data-container{
    height: 9vh;
    display: flex;
    flex-direction: column;
}
.people-data-title{
    flex: 1;
    text-align: start;
    font-size: 18px;
}
.people-data{
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.people-data-number{
    font-size: 28px;
    font-weight: 300;
}
.people-data-recommendation{
    margin-left: 5%;
    display: flex;
    color: rgb(63, 63, 63);
    font-weight: 300;
}
.music-file-drop-container{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.upload-file-button{
    width: 30%;
    aspect-ratio: 7.5/1;
    border-radius: 8px;

    border: none;
}
.upload-file-button:hover{
     transform: scale(1.02);
    filter: brightness(0.99);
    cursor: pointer;
}
.upload-file-input::file-selector-button{
    width: 20%;
        aspect-ratio: 7.5/1;
          border-radius: 8px;
    border: none;
    margin-right: 2%;
}
.upload-file-input::file-selector-button:hover{
    transform: scale(1.02);
    filter: brightness(0.99);
    cursor: pointer;
}
.music-file-title{
    flex: 1;
    text-align: start;
    font-size: 18px;
    margin-bottom: 1vh;
}


.room-size-container{
    margin-top: 1vh;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.room-size-title{
    flex: 1;
    text-align: start;
    font-size: 18px;
    margin-bottom: 1vh;
}
.room-size-settings-container{
    flex: 3;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1vh;
    justify-content: space-between;
}

.room-size-button-container{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.room-size-button{
    height: 50%;
    border-radius: 8px;
    border: none;
    width: 100%;
}
.room-size-button:hover{
     transform: scale(1.02);
    filter: brightness(0.99);
    cursor: pointer;
}
.room-size-info-container{
    width: 40%;
    align-items: start;
    display: flex;
    flex-direction: row;
    gap: 2vh;
}
.room-size-info-container p{
    font-size: 14px;
    color: rgb(65, 65, 65);
}
.room-size-dialog{
    flex: 1;
}
.room-size-dialog{
    display: flex;
    flex-direction: column;
}
.room-size-dialog-title{
    text-align: start;
    font-size: 18px;
    margin-bottom: 1vh;
}
.room-size-new-container{
    margin-top: 1vh;
    display: flex;
    justify-content: start;
    align-items: start;
    flex: 4;
    gap: 3%;
}
.room-size-new-container input{
    width: 20%;
    aspect-ratio: 6/1;
    border: none;
    border-radius: 8px;
    padding: 4px;
}