.big-data-box-container{
    height: 100%;
    width: 100%;
    padding: 0;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
}
.reset-button-container{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}
.reset-button{
    width: 12vw;
    aspect-ratio: 6.5/1;
    background-color: #BD7167;
    color:white;
    border: none;
    border-radius: 0.5vw;
}
.big-data-content{
    flex: 17;
    width: 100%;
    background-color: #e2e1e1;
    border-radius: 1vh;
    margin-top: 2vh;

}