.main-page-container{
    width: 100vw;
    height: 100vh;
    background-color: #53626B;
    display: flex;
    flex-direction: column;
}
.main-page-content-container{
    padding-left: 8vw;
    padding-right: 8vw;
    height: 100vh;
    margin-top: 8vh;
    overflow: hidden;
    
}

.data-container{
    margin-top: 2vw;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 1vh;


}
.data-left-container{
    padding-top: 2vh;
    padding-bottom: 2vh;
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.data-right-container{
    flex: 2;

}

*{
    transition: ease-in 200ms;
    margin:0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
