.main-page-container{
    width: 100vw;
    height: 115vh;
    background-color: #53626B;
    display: flex;
    flex-direction: column;
}
.main-page-content-container{
    padding-left: 8vw;
    padding-right: 8vw;
    height: 100vh;
    margin-top: 8vh;

}

.data-container{
    margin-top: 2vw;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.data-left-container{
    padding-top: 2vh;
    flex: 1.5;
    display: flex;
    flex-direction: column;
}
.data-right-container{
    flex: 2;

}

*{
    margin:0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
