.small-data-box-container{
    flex: 2;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.data-box-title-container{
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: end;
}
.data-box-title{
    color: white;
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 4px;
}
.data-box-content-container{
    flex: 5;
    background-color: #e2e1e1;
    display: flex;
    padding: 1vw;
    flex-direction: column;
    border-radius: 0.6vh;
}
.data-box-text-data-container{
    flex: 1;
    display: flex;
}

.data-box-sensor-interpretation-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.data-box-sensor-text-level{
    flex: 1;
    display: flex;
    align-items: end;
    justify-content: end;
}
.data-box-sensor-text{
    margin: 0;
    font-weight: 300;
    font-size: 14px;
}
.data-box-sensor-color-level{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
}
.data-box-sensor-color{
    height: 3px;
    width: 70%;
}

.data-box-sensor-data-container{
    flex: 1;
    margin-top: 1vh;
    display: flex;
}
.data-box-sensor-data{
    color: black;
    font-weight: 300;
    margin: 0;
    text-align: start;
    font-size: 32px;
}
.data-box-graph-container{
    display: flex;
    flex-direction: column;
    flex: 1.65;
}
.data-box-graph-title{
    text-align: start;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 4px;
}
.data-box-graph{
    flex: 1;
    height: 100%;
    background-color: white;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.green-gradient{
    background: linear-gradient(135deg, #2ecc71, #a8e063);
}
.yellow-gradient{
background: linear-gradient(135deg, #f9d423, #f39c12);
}
.red-gradient{
background: linear-gradient(135deg, #e74c3c, #c0392b);
}